<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta
      name="description"
      content="RemovableDante is the small digital space of Dante Meick, a graphic designer, problem solver, and creative
        person in Brooklyn, New York.">
    <meta name="keywords" content="RemovableDante Dante Meick DanteMeick Philip Dante Meick designer brooklyn">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ 'styles/main.css' | url }}">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
  </head>
  <body>
    <header></header>
    <section>
      {{ content | safe }}
    </section>
  </body>
</html>