$color-white: #ffffff;
$color-red: #ff4000;

html {
	height: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
body {
	font-family: "Work Sans", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
	background-color: #f2eee9;
	color: #252b29;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

a {
	color: #222;
	text-decoration: none;
}
a,
a:hover,
a:active,
a:visited {
	outline: 0px;
}
a:hover {
	text-decoration: underline;
}

h1 {
	position: relative;
	font-size: 22px;
	line-height: 36px;
	margin: 0 auto 20px;
	padding: 40px 0;
	font-weight: 400;
	font-style: normal;
	width: 100%;
	border-top: 1px solid #8ea59b;
	border-bottom: 1px solid #8ea59b;

	@media (min-width: 768px) {
		font-size: 28px;
		line-height: 46px;
	}
}

main {
	position: relative;
	max-width: 722px;
	width: 90%;
	padding: 50px 10px;
	margin: 0 auto;

	@media (min-width: 768px) {
		position: absolute;
		top: 50vh;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		padding: 50px 60px;
	}
}

.c-logo {
	position: relative;
	top: 12px;
	left: 8px;
	z-index: 100;
}

.c-info {
	display: block;
	font-size: 16px;
	line-height: 22px;

	h3 {
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		font-weight: 500;
		font-style: normal;
	}
	ul {
		padding: 0;
	}

	li {
		list-style-type: none;
		margin: 0 0 5px;
	}

	@media (min-width: 768px) {
		display: flex;
		gap: 5%;
	}
}

.c-info__experience {
	flex: 1;
	margin: 40px 0;

	@media (min-width: 768px) {
		margin: 0;
	}
}
.c-info__contact {
	flex: 1;
}
.c-info__employer {
	font-weight: 500;
}
